.bgnavbar {
    background-color: #b67a21;
    font-size: 30px;
}
.navbar-brand {
    font-size: 3rem;
    transition: 0.5s;
    border-radius: 30%;
    background-color: #b67a21;
}
.navbar-brand:hover {
    transform: translate(15px);
    background-color: rgb(201, 152, 67);
    border-radius: 40%;
}
.coloricono {
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.coloricono:hover {
    transition: .5s;
    transform: translateY(5px);
    color: rgb(255, 255, 255);
}
.icon {
    width: 100px;
    height: auto;
}

#galeria .col-lg-4 {
    padding: 25px;
    margin: 0 !important;
}
#galeria img {
    width: 100%;
    border-radius: 30px;
}
#galeria img:hover {
    border: 5px solid rgb(0, 0, 0);
    transition: 0.5s;
    border-radius: 0px;
}
.row {
    background-color: #b67a21;
    margin-bottom: 3rem;
    border-radius: 30px;
}
.carousel-inner{
    height: 20cm;
}
.text-center {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0;
}
.bienvenidos {
    text-align: center;
    font-size: 60px;
    margin-top: 1.5rem;
    background-color: #b67a21;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.footer-frase {
    text-align: center;
    background-color: #b67a21;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
@media screen and (max-width: 700px) {
    .footer h1 {
        font-size: 30px;}    
    }
.TITULO {
    margin-bottom: 2rem;
    text-shadow: -10px 10px 10px #b67a21;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
}
body {
    background-color: rgb(255, 219, 141);
}
.box {
    border-radius: 30px;
    background-color: #b67a21;
    box-shadow: inset 0 0 10px 0 #111;
}
.formulario {
    max-width: 25em;
    padding: 1em;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: rgba(194, 107, 20, 0.3);
    border-radius: 5%;
    box-shadow: inset 1px 1px 22px 4px;
    }
.btn {
    margin-top: 20px;
    background-color: #b67a21;
    border-color: black;
}
.btn:hover {
    background-color: #b67a21;
    box-shadow: inset 0 0 10px 0 #111;
    border-color: black;
}
.form-control {
    border-color: black;
}
.fuentefrase {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}