#galeria .col-lg-4 {
    padding: 25px;
    margin: 0 !important;
}
#galeria img {
    width: 100%;
    border-radius: 30px;
}
#galeria img:hover {
    border: 5px solid rgb(0, 0, 0);
    transition: 0.5s;
    border-radius: 0px;
}
.text-center {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0;
}